<div class="container">
    <nav>
        <ul>
            <li>
                <a routerLink="/navbar-playground" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Navbar Playground
                </a>
            </li>
            <li>
                <a routerLink="/kendogrid-playground" routerLinkActive="active" ariaCurrentWhenActive="page">
                    KendoGrid Playground
                </a>
            </li>
            <li>
                <a routerLink="/loading-indicator-playground" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Loading Indicator Playground
                </a>
            </li>
            <li>
                <a routerLink="/base-grid-page-playground" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Base Grid Page Playground
                </a>
            </li>
        </ul>
    </nav>
</div>